<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div [id]="section1" class="logoDiv">
          <h1>[Logo]</h1>
        </div>
        <ion-button class="buttonDefault" target="_blank">Va para o site que quiser</ion-button>
        <div class="landing-content">
          <h1 style="white-space: nowrap;">[Texto principal]</h1>
          <p>[Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.]</p>
          <ion-button class="buttonDefault" (click)="scrollToElement(section2)" size="large">
            <ion-icon slot="end" name="arrow-forward"></ion-icon>
            [botão para outra sessão]
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 9%;">
      <ion-col size="12" size-md="6">
        <div class="landing-content left-align">
          <p style="color: #32EAA5; font-weight: 800; font-size: 1.2rem;">[text]</p>
          <h1 style="font-size: 2.5rem;">[text]</h1>
        </div>
      </ion-col>
      <ion-col size="12" size-md="6">
        <div class="landing-content left-align">
          <p style="line-height: 1.75rem;">[Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the].</p>
          <ion-button class="buttonDefault" size="large">
            <ion-icon slot="end" name="arrow-forward"></ion-icon>
            button
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="cards" style="margin-top: 9%;">
      <ion-col size="12" size-md="4" *ngFor="let cardItem of cardDataArray">
        <app-card  [iconSrc]="cardItem.iconSrc" [iconName]="cardItem.iconName" [titleColor]="cardItem.titleColor"
          [title]="cardItem.title" [context]="cardItem.context">
        </app-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-row-center" style="margin-top: 9%;">
      <ion-col size="12" size-md="6">
        <div>
          <h1 style="text-align: center;">[text]<span style="color: #32EAA5;">[text]</span>[text]</h1>
          <div class="logoDiv" style="margin-top: 9%; justify-content: center;">
            <app-toggle-plan (planChange)="onPlanChange($event)"></app-toggle-plan>
            <ion-icon src="assets/icon/desconto.svg" class="logoDesconto"></ion-icon>
          </div>

        </div>
      </ion-col>
    </ion-row>
    <ion-row [id]="section2" class="cardPrice" style="margin-top: 3%;">
      <ion-col size="12" size-md="3" *ngFor="let text of textBlock">
        <app-card-price [time]="text.time" [price]="text.price" [moeda]="text.moeda" [titleColor]="text.titleColor"
          [buttonText]="text.buttonText" [title]="text.title" [content]="text.content" [textSaibaMais]="text.textSaibaMais"  [openText]="openText">
        </app-card-price>
      </ion-col>
    </ion-row>

    <ion-row class="ion-row-center" style="margin-top: 9%;">
      <ion-col>
        <div>
          <p style="font-size: 2rem; font-family: poppins; font-weight: 700;">
            <ion-text>
              [text]<ion-text style="color: #32EAA5;">[text]</ion-text>[text]
            </ion-text>
          </p>
          <h3 style="color: #627065; margin: 0 20%;">[Lorem Ipsum is simply dummy text of the printing and typesetting industry.]</h3>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-row-center" style="margin-bottom: 1.2rem; margin-top: 9%;">
      <ion-col size="12" size-md="4" *ngFor="let text of cardList">
        <app-card-list [subtitileFirst]="text.subtitileFirst" [subtitleSecundary]="text.subtitleSecundary"
          [text]="text.text"></app-card-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="faq">
        <h3>
          [text]
        </h3>
        <app-faq-list [faqs]="faqs"></app-faq-list>

      </ion-col>
    </ion-row>

    <div class="pageForms">
      <ion-row>
        <ion-col>
          <div>
            <h1>Start your reserch</h1>
            <p>fill the inputs</p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-md="6">
          <div>
            <h3>Personal informations</h3>
            <app-form-registration-plan [meuForm]="meuForm" [fields]="fields">
            </app-form-registration-plan>
            <ion-button class="buttonDefault" style="margin-top: 4%;" (click)="sendEmail(meuForm)">
              search
            </ion-button>
            
          </div>
        </ion-col>
        <ion-col style="display: flex; justify-content: center;" size="12" size-md="6">
          <div>
            <h3 style="font-weight: 600;">[text]</h3>
            <ion-button class="buttonDefault">
              WHATSAPP
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </div>
      <ion-row>
        <ion-col size="12" size-md="6">
          <div class="landing-content left-align">
            <p style="color: #32EAA5; font-weight: 600;">[text]</p>
            <h1>[text]</h1>
            <div class="">
              <ion-icon src="assets/icon/lineGreen.svg" class="lineGreen"></ion-icon>
            </div>

          <div class="card-content">
            <ion-input aria-label="Primary input" color="dark" placeholder="E-mail"></ion-input>
            <ion-button class="buttonDefault">Sign in</ion-button>
          </div>
        </div>
      </ion-col>
      <ion-col size="12" size-md="6">
        <div class="landing-content left-align">
          <p style="text-align: right;">
           [Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the i]</p>
        </div>
        <div style="width: 100%; display: flex; justify-content: end;">
          <h1>Logo</h1>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>