<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col style="background-image: url('../../assets/icon/background.png');">
        <div [id]="section1" class="logoDiv">
          <ion-icon src="assets/icon/trabalho-legal.svg" class="logo"></ion-icon>
        </div>
        <ion-button class="buttonDefault" href="https://www.trabalholegal.com.br" target="_blank">retornar ao site</ion-button>
        <div class="landing-content">
          <h1 style="white-space: nowrap;">Descubra se você ou seus clientes respondem a algum processo na justiça.</h1>
          <p>Nossa equipe realiza pesquisas para verificar se um CNPJ ou CPF possui processos em andamento junto aos
            órgãos
            públicos competentes.</p>
          <ion-button class="buttonDefault" (click)="scrollToElement(section2)" size="large">
            <ion-icon slot="end" name="arrow-forward"></ion-icon>
            Saiba mais
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 9%;">
      <ion-col size="12" size-md="6">
        <div class="landing-content left-align">
          <p style="color: #32EAA5; font-weight: 800; font-size: 1.2rem;">São apenas 3 passos. É fácil, rápido e seguro.</p>
          <h1 style="font-size: 2.5rem;">Receba o relatório de pesquisa em até 24h</h1>
        </div>
      </ion-col>
      <ion-col size="12" size-md="6">
        <div class="landing-content left-align">
          <p style="line-height: 1.75rem;">Você receberá em seu e-mail certidões oficiais, emitidas pelos órgãos públicos competentes, informando se
            o CNPJ/CPF informado possui ou não processos trabalhistas ou tributários federais.</p>
          <ion-button class="buttonDefault" size="large">
            <ion-icon slot="end" name="arrow-forward"></ion-icon>
            Entenda
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="cards" style="margin-top: 9%;">
      <ion-col size="12" size-md="4" *ngFor="let cardItem of cardDataArray">
        <app-card  [iconSrc]="cardItem.iconSrc" [iconName]="cardItem.iconName" [titleColor]="cardItem.titleColor"
          [title]="cardItem.title" [context]="cardItem.context">
        </app-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-row-center" style="margin-top: 9%;">
      <ion-col size="12" size-md="6">
        <div>
          <h1 style="text-align: center;">Oferecemos ótimos <span style="color: #32EAA5;">planos</span> para garantir seu monitoramento.</h1>
          <div class="logoDiv" style="margin-top: 9%; justify-content: center;">
            <app-toggle-plan (planChange)="onPlanChange($event)"></app-toggle-plan>
            <ion-icon src="assets/icon/desconto.svg" class="logoDesconto"></ion-icon>
          </div>

        </div>
      </ion-col>
    </ion-row>
    <ion-row [id]="section2" class="cardPrice" style="margin-top: 3%;">
      <ion-col size="12" size-md="3" *ngFor="let text of textBlock">
        <app-card-price [time]="text.time" [price]="text.price" [moeda]="text.moeda" [titleColor]="text.titleColor"
          [buttonText]="text.buttonText" [title]="text.title" [content]="text.content" [textSaibaMais]="text.textSaibaMais"  [openText]="openText">
        </app-card-price>
      </ion-col>
    </ion-row>

    <ion-row class="ion-row-center" style="margin-top: 9%;">
      <ion-col>
        <div>
          <p style="font-size: 2rem; font-family: poppins; font-weight: 700;">
            <ion-text>
              Os <ion-text style="color: #32EAA5;">benefícios</ion-text> são inúmeros:
            </ion-text>
          </p>
          <h3 style="color: #627065; margin: 0 20%;">Tenha as informações no momento certo,
            se proteja de problemas futuros que podem custar muito caro !</h3>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-row-center" style="margin-bottom: 1.2rem; margin-top: 9%;">
      <ion-col size="12" size-md="4" *ngFor="let text of cardList">
        <app-card-list [subtitileFirst]="text.subtitileFirst" [subtitleSecundary]="text.subtitleSecundary"
          [text]="text.text"></app-card-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="faq">
        <h3>
          FAQ
        </h3>
        <app-faq-list [faqs]="faqs"></app-faq-list>

      </ion-col>
    </ion-row>

    <div class="pageForms">
      <ion-row>
        <ion-col>
          <div>
            <h1>Comece sua pesquisa:</h1>
            <p>Preencha as informações abaixo e inicie sua pesquisa!</p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-md="6">
          <div>
            <h3>Informações pessoais</h3>
            <app-form-registration-plan [meuForm]="meuForm" [fields]="fields">
            </app-form-registration-plan>
            <ion-button class="buttonDefault" style="margin-top: 4%;" (click)="sendEmail(meuForm)">
              pesquisar
            </ion-button>
            
          </div>
        </ion-col>
        <ion-col style="display: flex; justify-content: center;" size="12" size-md="6">
          <div>
            <h3 style="font-weight: 600;">Contrate o plano personalizado:</h3>
            <ion-button class="buttonDefault">
              WHATSAPP
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </div>
      <ion-row>
        <ion-col size="12" size-md="6">
          <div class="landing-content left-align">
            <p style="color: #32EAA5; font-weight: 600;">Fique de olho!</p>
            <h1>Mantenha-se por dentro de atualizações!</h1>
            <div class="">
              <ion-icon src="assets/icon/lineGreen.svg" class="lineGreen"></ion-icon>
            </div>

          <div class="card-content">
            <ion-input aria-label="Primary input" color="dark" placeholder="E-mail"></ion-input>
            <ion-button class="buttonDefault">Inscrever</ion-button>
          </div>
        </div>
      </ion-col>
      <ion-col size="12" size-md="6">
        <div class="landing-content left-align">
          <p style="text-align: right;">
            Ajudamos você na gestão de sua empresa e de seus colaboradores
            com soluções assertivas, rapidez e tecnologia otimizada.
            Contamos com uma equipe multidisciplinar para oferecer soluções online nas
            áreas de direito trabalhista, tributário, contratual e empresarial.</p>
        </div>
        <div style="width: 100%; display: flex; justify-content: end;">
          <ion-icon src="assets/icon/trabalho-legal.svg" class="logo"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>