.toggle-button {
  height: 3rem;
  display: flex;
  border-radius: 27px;
  padding: 8px;
  overflow: hidden;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  flex: 1;
  text-align: center;
  padding: 10px;
  background-color: transparent;
  color: #000;
  transition: background-color 0.3s, color 0.3s;

  &.active {
    width: 5rem;
    height: 2rem;
    border-radius: 16px;
    padding: 4px, 16px, 4px, 16px;
    background-color: #32EAA5;
    color: #fff;
  }
}
